<div class="d-flex align-content-start">
  <div class="form-donate mt-5">
    <h2 class="text-uppercase">Make a Donation</h2>
    <form class="text-left" [formGroup]="form">
      <div class="form-group row p-5">
        <label for="inputSelect" class="col-md-3 col-sm-12 col-form-label">I want to help</label>
        <div class="col-md-9 col-sm-12">
          <select class="form-control select-lg select-animal" (change)="changeImg($event.target.value)">
            <option [selected]="true" disabled>Choose...</option>
            <option *ngFor="let animal of animals; let i = index" [value]="animal.id">{{animal.name}}</option>
          </select>
        </div>
        <label for="inputDonate" class="col-sm-12 col-form-label mt-4">I want to donate:</label>
        <div class="col-sm-12">

          <div class="d-block d-sm-none">

            <ul class="list-inline text-center">
              <li class="list-inline-item p-1">
                <button type="button" class="btn btn-custom-toogle" data-toggle="button" aria-pressed="false" autocomplete="off">
                  £3
                </button>
              </li>
              <li class="list-inline-item p-1">
                <button type="button" class="btn btn-custom-toogle" data-toggle="button" aria-pressed="false" autocomplete="off">
                  £5
                </button>
              </li>
              <li class="list-inline-item p-1">
                <button type="button" class="btn btn-custom-toogle" data-toggle="button" aria-pressed="false" autocomplete="off">
                  £10
                </button>
              </li>
            </ul>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <span class="pl-2 w-100">or</span>
              </li>
            </ul>
            <div class="form-group input-group-prepend">
              <span class="input-group-text" id="basic-addon1" [ngClass]="{'has-error animated fadeIn' : inputDonate.invalid}">£</span>
              <input type="currency" (keypress)="onlyNumberKey($event)" class="form-control input-donate w-100" formControlName="inputDonate"
                value="11 or more..." placeholder="11 or more..." aria-label="My donate!" [ngClass]="{'has-error animated fadeIn' : inputDonate.invalid}">

            </div>
            <div class="form-control-feedback text-danger" *ngIf="inputDonate.invalid && inputDonate.dirty">
              <small>Oops... Only £ 11 or more ...</small>
            </div>

          </div>

          <!-- if desktop -->
          <ul class="list-inline d-none d-sm-none d-md-block">
            <li class="list-inline-item">
              <button type="button" class="btn btn-custom-toogle mr-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                £3
              </button>
            </li>
            <li class="list-inline-item">
              <button type="button" class="btn btn-custom-toogle mr-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                £5
              </button>
            </li>
            <li class="list-inline-item">
              <button type="button" class="btn btn-custom-toogle mr-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                £10
              </button>
            </li>
            <li class="list-inline-item">
              <span class="pl-2 w-100">or</span>
            </li>
            <li class="list-inline-item float-right">
              <div class="form-group input-group-prepend">
                <span class="input-group-text" id="basic-addon1" [ngClass]="{'has-error animated fadeIn' : inputDonate.invalid}">£</span>
                <input type="currency" (keypress)="onlyNumberKey($event)" class="form-control input-donate" formControlName="inputDonate"
                  value="11 or more..." placeholder="11 or more..." aria-label="My donate!" [ngClass]="{'has-error animated fadeIn' : inputDonate.invalid}">

              </div>
              <div class="form-control-feedback text-danger" *ngIf="inputDonate.invalid && inputDonate.dirty">
                <small>Oops... Only £ 11 or more ...</small>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 pt-5">
          <input class="mr-3" type="checkbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">I Want to do a monthly donation</label>
        </div>
        <div class="col-sm-12 pt-5">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Donate Now</button>
        </div>
      </div>
    </form>
  </div>
  <div class="p-0 bd-highlight d-flex flex-row-reverse">
    <div class="p-2 img-option animated fadeIn" [ngStyle]="imgSrc"></div>
  </div>
</div>
