<footer class="footer dark-grey p-lg-4 text-white">
  <div class="container">
    <div class="row align-items-start mt-3">
      <!-- <div class="col-12 col-md">
              <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
            </div> -->
      <div class="col-2 col-md d-none d-sm-none d-md-block">
        <h5 class="text-uppercase mb-3 font-weight-bold mb-4">Who We Are</h5>
        <ul class="list-unstyled text-small text-white">
          <li>
            <a href="#">Our history</a>
          </li>
          <li>
            <a href="#">Press centre</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="col-2 col-md d-none d-sm-none d-md-block">
        <h5 class="text-uppercase mb-3 font-weight-bold mb-4">Get Involved</h5>
        <ul class="list-unstyled text-small text-white">
          <li>
            <a href="#">Join us</a>
          </li>
          <li>
            <a href="#">Donate</a>
          </li>
          <li>
            <a href="#">Carrers</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
        </ul>
      </div>
      <div class="col-2 col-md col-sm-12 d-none d-sm-none d-md-block">
        <h5 class="text-uppercase mb-3 font-weight-bold mb-4">Follow US</h5>
        <ul class="list-inline text-small text-white">
          <li class="list-inline-item mr-4">
            <a href="#">
              <img class="mb-2" src="assets/facebook-logo.svg" alt="" width="32" height="32">
            </a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="#">
              <img class="mb-2" src="assets/pinterest-logo.svg" alt="" width="32" height="32">
            </a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="#">
              <img class="mb-2" src="assets/twitter-logo.svg" alt="" width="32" height="32">
            </a>
          </li>
          <li class="list-inline-item mr-4">
            <a href="#">
              <img class="mb-2" src="assets/youtube-logo.svg" alt="" width="32" height="32">
            </a>
          </li>

        </ul>
      </div>

      <div class="col-6 col-md">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <!-- <svg src="assets/lts-logo-dark.svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> -->
          <img src="assets/lts-logo-light.svg" alt="Little Zebra Foundation">
        </a>
        <address class="pt-5 d-flex justify-content-end font-weight-light">
          3 Warren Rd,
          <br> Mary Tavy,
          <br> Tavistock PL19 9PF
          <br> United Kingdom
        </address>
      </div>
    </div>
  </div>
</footer>
